<!DOCTYPE html>
<html ng-app="store">
	<head>
		<title></title>
		<link rel="stylesheet" href="bootstrap.min.css" />
	</head>
	<body>
		<script type="text/javascript" src="angular.min.js"></script>
		<script type="text/javascript" src="app.js"></script>
		<div ng-controller="StoreController as store">
			<div ng-repeat="product in store.products">
				<div ng-hide="product.soldOut">
					<h1>{{product.name}}</h1>
					<em>{{product.date | date: "d/M/yyyy @ h:mm"}}</em>
					<h2>{{product.price | currency}}</h2>
					<!-- Image Gallery  -->
					<div class='gallery' ng-show="product.images.length" ng-controller="GalleryController as gallery">
						<img  style="width: 200px; height: 200px;"  ng-src="{{product.images[gallery.current]}}" />
						<ul class="list-inline thumbs">
						  <li class="thumbnail" ng-repeat="image in product.images">
						    <img  style="width: 100px; height: 100px;" ng-src="{{image}}" />
						  </li>
						</ul>
		      </div>

					<section class="tab" ng-controller="TabController as tabs">
						<ul class="nav nav-pills">
		          <li ng-class="{ active: tabs.isSet(1) }">
		            <a href ng-click="tabs.setTab(1)">Description</a></li>
		          <li ng-class="{ active : tabs.isSet(2) }">
		            <a href ng-click="tabs.setTab(2)">Specs</a></li>
		          <li ng-class="{active: tabs.isSet(3)}">
		            <a href ng-click="tabs.setTab(3)">Reviews</a></li>
		        </ul>
		        <div ng-show="tabs.isSet(1)">
		          <h4>Description</h4>
		          <blockquote>{{product.description}}</blockquote>
		        </div>
		        <div ng-show="tabs.isSet(2)">
		          <h4>Specs</h4>
		          <blockquote>Shine: {{product.shine}}</blockquote>
		        </div>
		        <div ng-show="tabs.isSet(3)">
							<!--  Product Reviews List -->
							 <ul>
								 <h4>Reviews</h4>
								 <li ng-repeat="r in product.reviews">
									 <blockquote>
										 <strong>{{r.stars}} Stars</strong>
										 {{r.body}}
										 <cite class="clearfix">—{{r.author}}</cite>
									 </blockquote>
								 </li>
							 </ul>
							 <!--  Review Form -->
            <form name="reviewForm" ng-controller="RewievController as reviewCtrl" ng-submit="reviewCtrl.addReview(product)" novalidate>
              <!--  Live Preview -->
              <blockquote>
                <strong>{{reviewCtrl.review.stars}} Stars</strong>
								{{reviewCtrl.review.body}}
                <cite class="clearfix">—{{reviewCtrl.review.author}}</cite>
              </blockquote>

              <!--  Review Form -->
              <h4>Submit a Review</h4>
              <fieldset class="form-group">
                <select ng-model="reviewCtrl.review.stars" class="form-control" ng-options="stars for stars in [5,4,3,2,1]"  title="Stars" required>
                  <option value="">Rate the Product</option>
                </select>
              </fieldset>
              <fieldset class="form-group">
                <textarea class="form-control" ng-model="reviewCtrl.review.body" placeholder="Write a short review of the product..." title="Review" required></textarea>
              </fieldset>
              <fieldset class="form-group">
                <input type="email" ng-model="reviewCtrl.review.author" class="form-control" placeholder="jimmyDean@example.org" title="Email" required />
              </fieldset>
              <fieldset class="form-group">
                <input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
              </fieldset>
            </form>
		        </div>
		      </section>
					<button ng-show="product.canPurchase">Add to cart</button>
				</div>
			</div>
		</div>
	</body>

</html>
